Libraries

In [1]:
import pandas as pd
from statsmodels.api import OLS

Load data

In [2]:
df = pd.read_csv('data.csv')
df.head()

          Y  CONST  T  X1  X1T  X2  X2T
0  2.312519      1  1   0    0   1    1
1 -0.836074      1  1   1    1   1    1
2 -0.797183      1  0   0    0   1    0
3 -0.157588      1  0   0    0   1    0
4 -0.109480      1  0   0    0   1    0

Difference in means between `T == 1` and `T == 0` for all four combinations of `X1` and `X2`

In [3]:
# Grouped means
t = df.groupby(['T','X1','X2'])['Y'].mean().reset_index()

# Reshape result
t = t.pivot(index=['X1','X2'], columns='T', values='Y')

# Rename columns
t.columns = ['Teq0','Teq1']

# Desired result
t['Teq1'] - t['Teq0']

X1  X2
0   0     0.116175
    1     0.168791
1   0    -0.027278
    1    -0.147601
dtype: float64

Try to replicate these results using linear regression

In [4]:
# Libraries
from statsmodels.api import OLS

# Fit regression with interaction terms
m = OLS(endog=df['Y'], exog=df[['CONST','T','X1','X1T','X2','X2T']]).fit()

# Estimated values
m.params[['T','X1T','X2T']]

T      0.162198
X1T   -0.230372
X2T   -0.034303
dtype: float64

Why don't the estimated coefficients match???